.contactListItem {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.contactListItem h4 {
  margin: 10px 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 22px;
  font-weight: 300;
}

.contactListItem span {
  font-size: 18px;
  margin-right: 8px;
}

.contactListItem button {
  border-radius: 7px;
  color: white;
  border: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  width: 30px;
  height: 30px;
  background-color: rgb(218, 17, 17);
  padding: 0;
  outline: none;
}

.contactListItem button:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(248, 18, 18);
  box-shadow: 1px 1px 4px rgba(26, 26, 26, 0.5);
  box-shadow: 2px 2px 6px rgba(119, 4, 4, 0.5);
}
